amqp
asgiref
attrs
autobahn
Automat
beautifulsoup4
billiard
boto3
botocore
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
commonmark
constantly
crispy-tailwind
cryptography
daphne
dj-database-url
Django
django-celery-beat
django-cors-headers
django-crispy-forms
django-heroku
django-timezone-field
djangorestframework
docopt
filelock
gdown
gevent
greenlet
gunicorn
hyperlink
imbox
incremental
jmespath
kombu
meilisearch
nose
pip-chill
pipreqs
prompt-toolkit
pyasn1
pyasn1-modules
pyOpenSSL
PySocks
python-dateutil
python
requests
s3transfer
service-identity
six
soupsieve
sqlparse
tqdm
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
vine
watchdog
wcwidth
whitenoise
yarg
zipp
zope.event
zope.interface
